{% set pageTitle = 'Adverts' %}
{% extends "layouts/admin.twig" %}

{% block content %}
{% include 'elements/admin_navbar.twig' %}
<div class="admin_container" style="margin-top:5%">
	<div class="col-md-3">
		{% include 'elements/admin_sidebar.twig' %}
	</div>
	<div class="col-md-15">
		{% include 'elements/admin_alert.twig' %}
		<p class="pull-right">
			<a href="{{ siteUrl('/admin/adverts/add') }}" class="btn btn-primary">Add New Advert</a>
		</p>
		<table class="table table-curved table-striped">
			<thead>
				<tr>
					<th> Title </th>
					<th> Action </th>
				</tr>
			</thead>
			<tbody>
				{% for advert in adverts %}
				<tr>
					<td> {{ advert.title|e }} </td>
					<td class="col-md-2">
						<a class="btn btn-xs-admin btn-primary" href="{{ siteUrl('/admin/adverts/edit') }}/{{ advert.id }}" title="Edit">Edit</a>
						<a class="btn btn-xs-admin btn-danger" href="{{ siteUrl('/admin/adverts/delete') }}/{{ advert.id }}" title="Delete">Delete</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="pull-right">
			{% include 'elements/admin_pager.twig' %}
		</div>
	</div>
</div>
<!-- /container -->
{% endblock %}
