{% set pageTitle = 'Sources' %}
{% extends "layouts/admin.twig" %}

{% block content %}
{% include 'elements/admin_navbar.twig' %}
<div class="admin_container" style="margin-top:5%">
	<div class="col-md-3">
		{% include 'elements/admin_sidebar.twig' %}
	</div>
	<div class="col-md-15">
		{% include 'elements/admin_alert.twig' %}
		<p class="pull-right">
			<a href="{{ siteUrl('/admin/sources/add') }}" class="btn btn-primary">Add New Source</a>
		</p>
		<table class="table table-curved table-striped">
			<thead>
				<tr>
					<th> Title </th>
					<th> Category </th>
					<th> Last update </th>
					<th> Count </th>
					<th> Action </th>
				</tr>
			</thead>
			<tbody>
				{% for source in sources %}
				<tr>
					<td> {{ source.title|e }} </td>
					<td> {{ source.category_name|e }} </td>
					<td> {{ source.last_update|e }} </td>
					<td> {{ source.category_count|e }} </td>
					<td class="col-md-4">
						<a class="btn btn-xs-admin btn-primary" href="{{ siteUrl('/admin/sources/edit') }}/{{ source.id }}" title="Edit">Edit</a>
						<a class="btn btn-xs-admin btn-danger" href="{{ siteUrl('/admin/sources/delete') }}/{{ source.id }}" title="Delete">Delete</a>
						<a class="btn btn-xs-admin btn-primary" href="{{ siteUrl('/admin/sources/update') }}/{{ source.id }}" title="Update">Update</a>
					</td>
				</tr>
			    {% endfor %}
			</tbody>
		</table>
        <div class="pull-left pager-one">
            {% include 'elements/admin_order.twig' %}
        </div>
        <div class="pull-right pager-one">
            {% include 'elements/admin_pager.twig' %}
        </div>
	</div>
</div>
<!-- /container -->
{% endblock %}
