{% set pageTitle = 'Add category' %}
{% extends "layouts/admin.twig" %}

{% block content %}
{% include 'elements/admin_navbar.twig' %}
<div class="admin_container" style="margin-top:5%">
	<div class="col-md-3">
		{% include 'elements/admin_sidebar.twig' %}
	</div>
	<div class="col-md-15">

		<form method="post" action="{{ siteUrl('/admin/categories/add') }}" id="form" role="form" accept-charset="UTF-8">
			<div class="row">
			{% if category.category_id != 0 %}
				<div class="form-group">
					<label>Category Name</label>
					<input type="text" class="form-control" name="name" id="name">
					<p class="help-block">Category name for items.</p>
				</div>
                <div class="form-group">
					<label>Category description</label>
					<input type="text" class="form-control" name="description" id="description">
					<p class="help-block">Category meta description.</p>
				</div>
                <div class="form-group">
					<label>Category title</label>
					<input type="text" class="form-control" id="title" name="title" value="{{ category.title }}">
					<p class="help-block">Category title.</p>
				</div>
				<div class="form-group">
					<label>Alias Name</label>
					<input type="text" class="form-control" name="alias" id="alias">
					<p class="help-block">Alias for making seo links.</p>
				</div>
				{% else %}
				<div class="form-group">
					<label>Market Name</label>
					<input type="text" class="form-control" name="name" id="name">
					<p class="help-block">Market name for items.</p>
				</div>
                <div class="form-group">
					<label>Market description</label>
					<input type="text" class="form-control" name="description" id="description">
					<p class="help-block">Market meta description.</p>
				</div>
                <div class="form-group">
					<label>Market title</label>
					<input type="text" class="form-control" id="title" name="title">
					<p class="help-block">Market title.</p>
				</div>
				<div class="form-group">
					<label>Alias Name</label>
					<input type="text" class="form-control" name="alias" id="alias">
					<p class="help-block">Alias for making seo links.</p>
				</div>
				{% endif %}
				<div class="form-group">
					<label>Parent Category</label>
					{% spaceless %}
					<select class="form-control" name="category_id" data-live-search="true">
						{% for category in categories %}
							<option class="depth-{{ category.depth }}" value="{{ category.id }}">
								{{ category.name }}
							</option>
						{% endfor %}
					</select>
					{% endspaceless %}
					<p class="help-block">Parent site of category.</p>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Submit</button>
					<a href="{{ siteUrl('/admin/categories') }}" class="btn btn-warning">Cancel</a>
				</div>
			</div>
		</form>
	</div>
</div>
<!-- /container -->
{% endblock %}
