<div class="list-group">
	<a class="list-group-item" href="{{ siteUrl('/admin/posts') }}">
		<span class="glyphicon glyphicon-bullhorn"></span>
		Blog
	</a>
	<a class="list-group-item" href="{{ siteUrl('/admin/items') }}">
		<span class="glyphicon glyphicon-file"></span>
		Items
	</a>
    <a class="list-group-item" href="{{ siteUrl('/admin/authors') }}">
        <span class="glyphicon glyphicon-user"></span>
        Authors
    </a>
    <a class="list-group-item" href="{{ siteUrl('/admin/categories') }}">
        <span class="glyphicon glyphicon-folder-open"></span>
        Categories
    </a>
    <a class="list-group-item" href="{{ siteUrl('/admin/sources') }}">
        <span class="glyphicon glyphicon-leaf"></span>
        Sources
    </a>
    <a class="list-group-item" href="{{ siteUrl('/admin/pages') }}">
        <span class="glyphicon glyphicon-globe"></span>
        Pages
    </a>
    <a class="list-group-item" href="{{ siteUrl('/admin/adverts') }}">
        <span class="glyphicon glyphicon-picture"></span>
        Adverts
    </a>
    <a class="list-group-item" href="{{ siteUrl('/admin/settings') }}">
        <span class="glyphicon glyphicon-wrench"></span>
        Settings
    </a>
    <a class="list-group-item" href="{{ siteUrl('/admin/users') }}">
        <span class="glyphicon glyphicon-exclamation-sign"></span>
		Admin Info
	</a>
	<a class="list-group-item" href="{{ siteUrl('/admin/logout') }}">
		<span class="glyphicon glyphicon-off"></span>
		Logout
	</a>
</div>
